:root {
    --bg: rgb(246 247 249);
    --blue: rgb(5 24 40);
    --red: rgb(172 0 38);
    --green: rgb(0 71 69);
    --brown: rgb(168 131 96);
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

body {
    background-color: var(--bg);
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    font-size: 20px;
}

h2 {
    font-weight: normal;
}

q {
    font-style: italic;
}

img {
    max-width: 100%;
}

img.vipps {
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#nav-links {
    justify-content: space-between;
    align-items: center;
}

#nav-links > a {
    padding: 2px;
    text-decoration: none;
    color: var(--blue);
}

#nav-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    width: 60%;
    max-width: 320px;
}

#container {
    margin: auto;
    max-width: 1080px;
    padding: 1%;
}

article {
    margin-top: 25px;
}

.flex {
    display: flex;
}

.profil > img {
    width: 30%;
    height: min-content;
    margin-top: 16px;
    margin-right: 16px;
}

.profil.right > img {
    margin-right: 0;
    margin-left: 16px;
    margin-top: 32px;
}

.gallery {
    justify-content: space-between;
}

.gallery > div {
    margin-bottom: 16px;
    width: 49.5%;
    padding: 16px;
    border-radius: 4px;
    background: var(--blue);
    background: linear-gradient(var(--green), var(--blue));
    color: var(--bg);
}

.gallery q {
    color: rgb(190 190 190);
}

.gallery > div > img {
    width: 100%;
}

.gallery > div > p > a {
    background-color: var(--green);
    padding: 2px;
    border-radius: 2px;
    color: white;
    font-weight: normal;
}

.gallery > div > p > a:hover {
    color: var(--blue);
}

.bold {
    font-size: 1.1em;
}

@media screen and (max-width: 560px) {
    #nav-links > a {
        text-align: center;
        width: 75%;
    }

    .flex {
        flex-direction: column;
    }

    .profil {
        align-items: center;
    }

    .profil > img {
        width: 90%;
    }

    .hide-on-small {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .gallery {
        align-items: center;
        flex-direction: column;
    }

    .gallery > div {
        width: 100%;
    }
}
